.friendsList {
  list-style: none;
  padding: 40px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

.friendListItem {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid #201f1f;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.friendAvatar {
  border-radius: 50%;
  width: 68px;
  height: 68px;
  margin-right: 10px;
}

.friendName {
  font-size: 18px;
  font-weight: bold;
  margin-right: auto;
}

.friendStatus {
  font-size: 14px;
  font-weight: bold;
}

.statusOnline {
  color: green;
}

.statusOffline {
  color: red;
}
